.vscode

Backend/target/
*.class

Backend/target/
*.log

Backend/.env

Backend/.vscode


Backend/.idea

Backend/.mvn/
!mvnw
!mvnw.cmd

Backend/docker-compose.yml

Backend/Dockerfile



python/.env
python/utils/__pycache__


